.navbar-container{
    background: #FFF7ED;
    display: flex;
    justify-content: space-between;
}

.navbar-container a{
    text-decoration: none;
}

.navbar-home-link{
    font-size: 2.5rem;
    font-weight: 900;
    color: #000;
}

.navbar-links{
    font-size: 1rem;
    text-align: right;
    color: #4D4D4D;
}